<div class="prop-show-container">
  <div class="prop-show-inner-left">
    <p class="large-text"><%= @tenant.name%></p>
    <p><strong>Email:</strong> <span class="blue-text"><%= @tenant.email%></span></p>

    <p>Previous Properties:
      <ul>
      <% @tenant.properties.each do |property|%>
        <li class="blue-text"><%= link_to property.street, property_path(property.id), class: "ten-link"  %></li>
      <% end %>
      </ul>
    </p>
    <% if @current_user.id == @tenant.id %>
    <p><%= link_to "Edit", edit_user_path(@tenant.id), class: "ten-link"  %> | <%= link_to "Delete", user_path(@tenant.id), class: "ten-link", method: "DELETE"  %></p>
    <p><span class="ten-link" onclick="document.getElementById('id05').style.display='block'">Link Property</span></p>
    <% end %>
  </div>
  <div class="prop-show-inner-right">
    <div class="prop-show-inner-right-top" onclick="document.getElementById('id07').style.display='block'">
      <% if @tenant.properties.any? &&  @tenant.properties.last.cover_image.present? %>
        <%= cl_image_tag @tenant.properties.last.cover_image, class: "image-fill-container" %>
      <% else %>
          <%= image_tag "prop-placehold.jpg", class: "image-fill-container"%>
      <% end %>
    </div>
    <div class="prop-show-inner-right-bottom">
      <div class="prop-show-inner-bottom-left" onclick="document.getElementById('id07').style.display='block'">
        <% if @tenant.properties.any? &&  @tenant.properties.last.property_images.first.image_url.present? %>
          <%= cl_image_tag @tenant.properties.last.property_images.first.image_url, class: "image-fill-container" %>
        <% else %>
          <%= image_tag "prop-placehold.jpg", class: "image-fill-container"%>
        <% end %>

      </div>
      <div class="prop-show-inner-bottom-center" onclick="document.getElementById('id07').style.display='block'">
        <% if @tenant.properties.any? &&  @tenant.properties.last.property_images.second.image_url.present? %>
      <%= cl_image_tag @tenant.properties.last.property_images.second.image_url, class: "image-fill-container" %>
        <% else %>
            <%= image_tag "prop-placehold.jpg", class: "image-fill-container"%>
        <% end %>

      </div>
      <div class="prop-show-inner-bottom-right" onclick="document.getElementById('id07').style.display='block'">
        <% if @tenant.properties.any? &&  @tenant.properties.last.property_images.third.image_url.present? %>
          <%= cl_image_tag @tenant.properties.last.property_images.third.image_url, class: "prop-image-spec" %>
        <% else %>
          <%= image_tag "prop-placehold.jpg", class: "image-fill-container"%>
        <% end %>

        <% if @tenant.properties.any? &&  @tenant.properties.last.cover_image.present? %>
          <% len = @tenant.properties.last.property_images.length %>
        <% else %>
          <% len = 3%>
        <% end %>
        <span class="prop-text-spec">+<%= len - 3 %></span>
      </div>
    </div>
  </div>
</div>
<% rating = 0
   path_go = ''
   user_test = 0
@tenant.properties.each do |property|
  property = Property.find_by(id: property.id)
  owner = OwnerRating.find_by(user_id: property.owner.id)

    if owner != nil
      rating += owner.rating.to_f
      path_go = rate_path(owner.id)
    else
      path_go = ratings_path
    end

    if property.owner.id == @current_user.id && @current_user.type == 'Owner'
     user_test += 1
    end
end
if @tenant.properties.length == 0
  div = 1.to_f
else
  div = @tenant.properties.length.to_f
end
rating = rating / div %>
<div class="rating-container-tenant">

  <% 5.times do |i| %>
      <% if rating.round - 1 >= i %>
        <% class_ins = 'star checked'%>
      <% else %>
        <% class_ins = 'star' %>
      <%end%>

    <%= form_with url: path_go, local: true, class: "inline-disp" do |f| %>
    <%= f.hidden_field :type, value: "OwnerRating" %>
    <%= f.hidden_field :user_id, value: @current_user.id %>
    <%= f.hidden_field :rating, value: i + 1 %>
    <% if user_test == 0 %>
      <%= f.submit "★", class: class_ins, disabled: true %>
    <% else %>
      <%= f.submit "★", class: class_ins %>
    <% end %>

    <% end %>
  <% end %>
</div>

<!-- Image slider modal -->
<div id="id07" class="modal-image">
  <div class="modal-content-img animate image-pop-container">
    <div class="imgcontainer-img">
      <span onclick="document.getElementById('id07').style.display='none'" class="close" title="Close Modal">&times;</span>

      <% if @tenant.properties.any? &&  @tenant.properties.last.cover_image.present? %>
        <%= cl_image_tag @tenant.properties.first.cover_image, class: "image-fill-container", id: "hide" %>
      <% else %>
        <%= image_tag "prop-placehold.jpg", class: "image-fill-container"%>
      <% end %>
  <% i = 1 %>
  <% leng = @tenant.properties.all.length %>
  <% @tenant.properties.all.each do |image| %>

      <div class="mySlides fade">
        <div class="numbertext"><%= i %> / <%= leng %></div>
          <%= cl_image_tag image.cover_image, class: "image-fill-container" %>
      </div>

  <% i += 1%>
  <% end %>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <br>

      <div style="text-align:center">
      <% i = 1 %>
      <% @tenant.properties.all.each do |image| %>
        <span class="dot" onclick="currentSlide(<%=i%>)"></span>
      <% i += 1%>
      <% end %>
      </div>

    </div>
  </div>
</div>


<div class="spacer">

</div>
