
<%@owners.each do |owner| %>
<% unless owner.name == "admin" %>
<div class="prop-main">
  <div class="prop-list-container">
    <%= link_to owner_path(owner.id), class: 'ten-link-main' do%>
    <div class="list-container">
      <div class="circle-right-owners">

      </div>
      <div class="prop-list-in-top">
      </div>
      <div class="prop-list-in-middle"">
        <% if owner.properties.any? &&  owner.properties.first.cover_image.present? %>
          <%= cl_image_tag owner.properties.first.cover_image, class: "cover-img" %>
        <% else %>
          <%= image_tag "prop-placehold.jpg", class: "image-fill-container"%>
        <% end %>
      </div>
      <div class="prop-list-in-bottom"">
        <div class='prop-span-left'>
          <div class="prop-span-left-in-top">
          <span class="bold">Name: </span><span><%= owner.name %></span>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <div class="side-container">
      <div class="side-list">
        <h2>Owner Properties</h2>
          <% owner.properties.each do |property| %>
          <p class="prop-lists" ><%=link_to property.full_address, property_path(property.id), class: "ten-link"%></p>
          <% end %>
      </div>
    </div>
  </div>
  <div class="spacer">

  </div>
</div>
<% end %>
<% end %>
