

<div class="prop-show-container">
  <div class="prop-show-inner-left">
    <p class="large-text"><%= @owner.name%></p>
    <p><strong>Email:</strong> <span class="blue-text"><%= @owner.email%></span></p>

    <p>Owner Properties:
      <ul>
      <% @owner.properties.each do |property|%>
        <li class="blue-text"><%= link_to property.street, property_path(property.id), class: "ten-link"  %>
        <% rating = 0 %>
        <%  if property.tenants.length == 0
              div = 1
            else
              div = property.tenants.length
            end %>
        <% property.tenants.each do |tenant|%>
        <% tenant = TenantRating.find_by(user_id: tenant.id) %>
        <%if tenant != nil
            rate = tenant.rating
          else
            rate = 0
          end%>
          <% rating += rate.to_f %>
        <% end %>
        <% rating = rating / div %>

          <span class="fa fa-star <% if rating.round >= 1 %><%='checked'%><%end%>"></span>
          <span class="fa fa-star <% if rating.round >= 2 %><%='checked'%><%end%>"></span>
          <span class="fa fa-star <% if rating.round >= 3 %><%='checked'%><%end%>"></span>
          <span class="fa fa-star <% if rating.round >= 4 %><%='checked'%><%end%>"></span>
          <span class="fa fa-star <% if rating.round == 5 %><%='checked'%><%end%>"></span>
        </li>
      <% end %>
      </ul>
    </p>
    <% if @current_user.id == @owner.id %>
    <p><%= link_to "Edit", edit_user_path(@owner.id), class: "ten-link"  %> | <%= link_to "Delete", user_path(@owner.id), class: "ten-link", method: "DELETE"  %></p>
    <p><span class="ten-link" onclick="document.getElementById('id06').style.display='block'">Link Property</span></p>
    <% end %>
  </div>
  <div class="prop-show-inner-right">
    <div class="prop-show-inner-right-top" onclick="document.getElementById('id07').style.display='block'">
      <% if @owner.properties.any? &&  @owner.properties.last.cover_image.present? %>
        <%= cl_image_tag @owner.properties.last.cover_image, class: "image-fill-container" %>
      <% else %>
          <%= image_tag "prop-placehold.jpg", class: "image-fill-container"%>
      <% end %>
    </div>
    <div class="prop-show-inner-right-bottom">
      <div class="prop-show-inner-bottom-left" onclick="document.getElementById('id07').style.display='block'">
        <% if @owner.properties.any? &&  @owner.properties.last.property_images.first.image_url.present? %>
          <%= cl_image_tag @owner.properties.last.property_images.first.image_url, class: "image-fill-container" %>
        <% else %>
          <%= image_tag "prop-placehold.jpg", class: "image-fill-container"%>
        <% end %>

      </div>
      <div class="prop-show-inner-bottom-center" onclick="document.getElementById('id07').style.display='block'">
        <% if @owner.properties.any? &&  @owner.properties.last.property_images.second.image_url.present? %>
      <%= cl_image_tag @owner.properties.last.property_images.second.image_url, class: "image-fill-container" %>
        <% else %>
            <%= image_tag "prop-placehold.jpg", class: "image-fill-container"%>
        <% end %>

      </div>
      <div class="prop-show-inner-bottom-right" onclick="document.getElementById('id07').style.display='block'">
        <% if @owner.properties.any? &&  @owner.properties.last.property_images.third.image_url.present? %>
          <%= cl_image_tag @owner.properties.last.property_images.third.image_url, class: "prop-image-spec" %>
        <% else %>
          <%= image_tag "prop-placehold.jpg", class: "image-fill-container"%>
        <% end %>

        <% if @owner.properties.any? &&  @owner.properties.last.cover_image.present? %>
          <% len = @owner.properties.last.property_images.length %>
        <% else %>
          <% len = 3%>
        <% end %>
        <span class="prop-text-spec">+<%= len - 3 %></span>
      </div>
    </div>
  </div>
</div>

<!-- image modal -->
<div id="id07" class="modal-image">
  <div class="modal-content-img animate image-pop-container">
    <div class="imgcontainer-img">
      <span onclick="document.getElementById('id07').style.display='none'" class="close" title="Close Modal">&times;</span>

      <% if @owner.properties.any? &&  @owner.properties.last.cover_image.present? %>
        <%= cl_image_tag @owner.properties.first.cover_image, class: "image-fill-container", id: "hide" %>
      <% else %>
        <%= image_tag "prop-placehold.jpg", class: "image-fill-container"%>
      <% end %>
  <% i = 1 %>
  <% leng = @owner.properties.all.length %>
  <% @owner.properties.all.each do |image| %>

      <div class="mySlides fade">
        <div class="numbertext"><%= i %> / <%= leng %></div>
          <%= cl_image_tag image.cover_image, class: "image-fill-container" %>
      </div>

  <% i += 1%>
  <% end %>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <br>

      <div style="text-align:center">
      <% i = 1 %>
      <% @owner.properties.all.each do |image| %>
        <span class="dot" onclick="currentSlide(<%=i%>)"></span>
      <% i += 1%>
      <% end %>
      </div>

    </div>
  </div>
</div>


<div class="spacer">

</div>
