
<% @properties.each do |property|%>

<div class="prop-main">
  <div class="prop-list-container">
    <div class="circle-right">
      Leased
    </div>
    <div class="prop-list-in-top">
    </div>
    <div class="prop-list-in-middle"">
      <%= image_tag property.cover_image, class: "cover-img" %>
    </div>
    <div class="prop-list-in-bottom"">
      <span class='prop-span-left'>
        <table>
          <tr>
            <td><%= property.unit %> / <%= property.street %></td>
          </tr>
          <tr>
            <td><%= property.city %> <%= property.state %>, <%= property.postcode %></td>
          </tr>
        </table>
        Bed: <%= property.bedrooms %> |
        Bath: <%= property.bathrooms %> |
        Garage: <%= property.garage %>
      </span>
      <span class='prop-span-right'>
        Owner: <%= property.owner.name %> <br>
        lease period: <%= property.lease_start %> to <%= property.lease_end %>
      </span>
    </div>
  </div>
  <div class="prop-side-container">

  </div>
</div>
<% end %>
