
<div class="prop-show-container">
  <div class="prop-show-inner-left">
    <p class="large-text"><%= @property.unit %> <br> <%= @property.street %> <br> <%= @property.city %> <br> <%= @property.state %> <br> <%= @property.postcode %></p>
    <p class="letter-line">
      <%=image_tag "bed.jpg", class: "home-img" %> <%= @property.bedrooms %>
      <%=image_tag "bath.jpg", class: "home-img" %> <%= @property.bathrooms %>
      <%=image_tag "garage.jpg", class: "home-img" %> <%= @property.garage %>
    </p>
    <p><strong>Area:</strong> <span class="blue-text"><%= @property.area %> sqm </span> |   <strong>Storage Area:</strong> <span class="blue-text">
      <% if @property.storage == true%>
        <%= "Yes" %>
      <% else %>
        <%= "No" %>
      <% end %>
    </span></p>
    <p></p>
    <p>Current Owner: <span class="blue-text"><%= link_to @property.owner.name, owner_path(@property.owner.id), class: "ten-link" %></span></p>
    <p>Previous Tenents:
      <ul>
        <% rating = 0 %>
        <% path_go = ""%>
        <% user_test = 0%>
      <% @property.tenants.each do |tenant|%>
        <li class="blue-text">
          <% if @current_user != nil && tenant.id == @current_user.id && @current_user.type == 'Tenant'%>
            <% user_test += 1%>
          <% end %>
          <%= link_to tenant.name, tenant_path(tenant.id), class: "ten-link"  %>
          <% tenant_rate = TenantRating.find_by(user_id: tenant.id) %>
          <% pass = tenant_rate%>

          <%if tenant_rate != nil
              rate = tenant_rate.rating
              rating += tenant_rate.rating.to_f
              path_go = rate_path(tenant_rate.id)
            else
              path_go = ratings_path
              rate = 0
            end%>

          <span class="fa fa-star <% if rate >= 1 %><%= 'checked' %><%end%>"></span>
          <span class="fa fa-star <% if rate >= 2 %><%= 'checked' %><%end%>"></span>
          <span class="fa fa-star <% if rate >= 3 %><%= 'checked' %><%end%>"></span>
          <span class="fa fa-star <% if rate >= 4 %><%= 'checked' %><%end%>"></span>
          <span class="fa fa-star <% if rate == 5 %><%= 'checked' %><%end%>"></span>

        </li>
      <% end %>
      <%  if @property.tenants.length == 0
            div = 1
          else
            div = @property.tenants.length
          end %>
      <% rating = rating / div %>
      </ul>
    </p>

<script type="text/javascript">
  function initMap() {
    const myLatLng = { lat: <%=@property.latitude%> , lng: <%=@property.longitude%> };
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 13,
      center: myLatLng,
    });
    new google.maps.Marker({
      position: myLatLng,
      map,
      title: "",
    });
  }
</script>
    <div id="map"></div>
    <% if @current_user.present? && @current_user.name == "admin" %>
    <p><%= link_to "Edit", edit_property_path(@property.id), class: "ten-link"  %> |
      <%= link_to "Delete", property_path(@property.id), class: "ten-link", method: "DELETE"  %></p>
    <% end %>
  </div>
  <div class="prop-show-inner-right">
    <div class="prop-show-inner-right-top" onclick="document.getElementById('id02').style.display='block'">
        <%= cl_image_tag @property.cover_image, class: "image-fill-container" %>
    </div>
    <div class="prop-show-inner-right-bottom">
      <div class="prop-show-inner-bottom-left" onclick="document.getElementById('id02').style.display='block'">
        <%= cl_image_tag @property.property_images.first.image_url, class: "image-fill-container" %>
      </div>
      <div class="prop-show-inner-bottom-center" onclick="document.getElementById('id02').style.display='block'">
        <%= cl_image_tag @property.property_images.second.image_url, class: "image-fill-container" %>
      </div>
      <div class="prop-show-inner-bottom-right" onclick="document.getElementById('id02').style.display='block'">
        <% len = @property.property_images.length %>
        <%= cl_image_tag @property.property_images.third.image_url, class: "prop-image-spec" %>
        <span class="prop-text-spec">+<%= len - 3 %></span>
      </div>
    </div>
  </div>
</div>
<div class="rating-container">
  <% 5.times do |i| %>
      <% if rating.round - 1 >= i %>
        <% class_ins = 'star checked'%>
      <% else %>
        <% class_ins = 'star' %>
      <%end%>

    <%= form_with url: path_go, local: true, class: "inline-disp" do |f| %>
    <%= f.hidden_field :type, value: "TenantRating" %>
    <% if @current_user != nil %>
    <%= f.hidden_field :user_id, value: @current_user.id %>
    <% end %>
    <%= f.hidden_field :rating, value: i + 1 %>
    <% if user_test == 0 %>
      <%= f.submit "★", class: class_ins, disabled: true %>
    <% else %>
      <%= f.submit "★", class: class_ins %>
    <% end %>

    <% end %>
  <% end %>
</div>

<!-- Image slider modal -->
<div id="id02" class="modal-image">
  <div class="modal-content-img animate image-pop-container">
    <div class="imgcontainer-img">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      <%= cl_image_tag @property.cover_image, id: "hide", class: "image-fill-container" %>

  <% i = 1 %>
  <% leng = @property.property_images.length %>
  <% @property.property_images.each do |image| %>

      <div class="mySlides fade">
        <div class="numbertext"><%= i %> / <%= leng %></div>
        <% if i == 1 %>
          <%= cl_image_tag @property.cover_image, class: "image-fill-container" %>
        <% else %>
          <%= cl_image_tag image.image_url, class: "image-fill-container" %>
        <% end %>

      </div>

  <% i += 1%>
  <% end %>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <br>

      <div style="text-align:center">
      <% i = 1 %>
      <% @property.property_images.each do |image| %>
        <span class="dot" onclick="currentSlide(<%=i%>)"></span>
      <% i += 1%>
      <% end %>
      </div>

    </div>
  </div>
</div>


<div class="spacer-prop">

</div>
