<div class="prop-show-container">
  <div class="prop-show-inner-left">
    <p class="large-text"><%= @property.unit %> / <%= @property.street %></br><%= @property.city %> / <%= @property.state %>,</br><%= @property.postcode %></p>
    <p class="letter-line">
      <%=image_tag "bed.jpg", class: "home-img" %> <%= @property.bedrooms %>
      <%=image_tag "bath.jpg", class: "home-img" %> <%= @property.bathrooms %>
      <%=image_tag "garage.jpg", class: "home-img" %> <%= @property.garage %>
    </p>
    <p><strong>Area:</strong> <span class="blue-text"><%= @property.area %> sqm </span> |   <strong>Storage Area:</strong> <span class="blue-text">
      <% if @property.storage == true%>
        <%= "Yes" %>
      <% else %>
        <%= "No" %>
      <% end %>
    </span></p>
    <p></p>
    <p>Current Owner: <span class="blue-text"><%= link_to @property.owner.name, owner_path(@property.owner.id), class: "ten-link" %></span></p>
    <p>Previous Tenents:
      <ul>
      <% @property.tenants.each do |tenant|%>
        <li class="blue-text"><%= link_to tenant.name, tenant_path(tenant.id), class: "ten-link"  %></li>
      <% end %>
      </ul>
    </p>
    <p><%= link_to "Edit", edit_property_path(@property.id), class: "ten-link"  %> | <%= link_to "Delete", property_path(@property.id), class: "ten-link", method: "DELETE"  %></p>
  </div>
  <div class="prop-show-inner-right">
    <div class="prop-show-inner-right-top" onclick="document.getElementById('id02').style.display='block'">
        <%= cl_image_tag @property.cover_image, class: "image-fill-container" %>
    </div>
    <div class="prop-show-inner-right-bottom">
      <div class="prop-show-inner-bottom-left" onclick="document.getElementById('id02').style.display='block'">
        <%= cl_image_tag @property.property_images.first.image_url, class: "image-fill-container" %>
      </div>
      <div class="prop-show-inner-bottom-center" onclick="document.getElementById('id02').style.display='block'">
        <%= cl_image_tag @property.property_images.second.image_url, class: "image-fill-container" %>
      </div>
      <div class="prop-show-inner-bottom-right" onclick="document.getElementById('id02').style.display='block'">
        <% len = @property.property_images.length %>
        <%= cl_image_tag @property.property_images.third.image_url, class: "prop-image-spec" %>
        <span class="prop-text-spec">+<%= len - 3 %></span>
      </div>
    </div>
  </div>
</div>

<!-- Image slider modal -->
<div id="id02" class="modal-image">
  <div class="modal-content-img animate image-pop-container">
    <div class="imgcontainer-img">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      <%= cl_image_tag @property.cover_image, id: "hide", class: "image-fill-container" %>

  <% i = 1 %>
  <% leng = @property.property_images.length %>
  <% @property.property_images.each do |image| %>

      <div class="mySlides fade">
        <div class="numbertext"><%= i %> / <%= leng %></div>
        <% if i == 1 %>
          <%= cl_image_tag @property.cover_image, class: "image-fill-container" %>
        <% else %>
          <%= cl_image_tag image.image_url, class: "image-fill-container" %>
        <% end %>

      </div>

  <% i += 1%>
  <% end %>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <br>

      <div style="text-align:center">
      <% i = 1 %>
      <% @property.property_images.each do |image| %>
        <span class="dot" onclick="currentSlide(<%=i%>)"></span>
      <% i += 1%>
      <% end %>
      </div>

    </div>
  </div>
</div>


<div class="spacer">

</div>
