<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
    <div class="grid-container">

      <div class="grid-child logo">
        <%= link_to root_path do%>
        <%= image_tag image_url('logo.png'), class: "logo"%>
        <% end %>
        <nav class="inline">
          <%= link_to root_path, class: "nav-links" do %>
          <span>Home</span>
          <% end %>
          <%= link_to tenants_path, class: "nav-links" do %>
          <span>Renters</span>
          <% end %>
          <%= link_to owners_path, class: "nav-links" do %>
          <span>Owners</span>
          <% end %>
          <%= link_to properties_path, class: "nav-links" do %>
          <span>Properties</span>
          <% end %>
        </nav>
      </div>
      <div class="grid-child nav-bar">
        <% if @current_user.present? %>
          <%= link_to edit_user_path(@current_user.id), class: "login-links" do %>
          <span>Welcome, <%= @current_user.name %> <%= link_to 'Logout', login_path, method: 'delete',class: "login-links" %></span>
          <% end %>
        <% else %>
          <span></span>

          <span class="login-links" onclick="document.getElementById('id01').style.display='block'">Sign In</span>
          <span class="login-links" onclick="document.getElementById('id03').style.display='block'">Sign Up</span>
        <% end %>
      </div>
    </div>
    </header>

    <div class="main-container">
    <%= yield %>
    </div>
    <%= render partial: 'pages/login_form'%>
    <%= render partial: 'pages/new_user_form'%>
    <%= render partial: 'pages/prop_ten_link_form'%>
    <%= render partial: 'pages/prop_own_link_form'%>
    <footer>
      <hr>
      footer
    </footer>
  </body>
</html>
