<!DOCTYPE html>
<html>
  <head>
    <title>Rent-Help</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta
      name="description"
      content="Are you a tenant? Are you a landlord? Rent Help connects you!"
    />
    <meta name="image" property="og:image" content="https://res.cloudinary.com/dhl1cdqch/image/upload/v1613008197/cover_ptwzbm.png"/>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW5MNODxdAncbpnSGtOIl6Gyfjo-e6w3g&callback=initMap&libraries=&v=weekly" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
    <div class="grid-container">

      <div class="grid-child logo">
        <%= link_to root_path do%>
        <%= image_tag image_url('logo.png'), class: "logo"%>
        <% end %>
        <nav class="inline">
          <%= link_to root_path, class: "nav-links" do %>
          <span>Home</span>
          <% end %>
          <%= link_to tenants_path, class: "nav-links" do %>
          <span>Renters</span>
          <% end %>
          <%= link_to owners_path, class: "nav-links" do %>
          <span>Owners</span>
          <% end %>
          <%= link_to properties_path, class: "nav-links" do %>
          <span>Properties</span>
          <% end %>
        </nav>
      </div>
      <div class="grid-child nav-bar">
        <% if @current_user.present? %>
          <%= link_to edit_user_path(@current_user.id), class: "login-links" do %>
          <span>Welcome, <%= @current_user.name %> <%= link_to 'Logout', login_path, method: 'delete',class: "login-links" %></span>
          <% end %>
        <% else %>
          <span></span>

          <span class="login-links" onclick="document.getElementById('id01').style.display='block'">Sign In</span>
          <span class="login-links" onclick="document.getElementById('id03').style.display='block'">Sign Up</span>
        <% end %>
      </div>
    </div>

    </header>
    <div class="main-container">
    <%= yield %>
    </div>
    <%= render partial: 'pages/login_form'%>
    <%= render partial: 'pages/new_user_form'%>
    <%= render partial: 'pages/prop_ten_link_form'%>
    <%= render partial: 'pages/prop_own_link_form'%>
    <%= render partial: 'pages/image_upload_form'%>
    <footer>
      <hr>
      <div class="footer-container">
        <div class="social">
          <div class="social-indv-container">
            <%=cl_image_tag "github", alt: "github social icon", class: "social-size" %>
          </div>
          <div class="social-indv-container">
            <%=cl_image_tag "facebook", alt: "facebook social icon", class: "social-size" %>
          </div>
          <div class="social-indv-container">
            <%=cl_image_tag "linkedn", alt: "linkedin social icon", class: "social-size" %>
          </div>
        </div>
        <div class="sitemap">
          <span>About us</span>
          <span>Contact us</span>
          <span>Careers</span>
        </div>
      </div>
      &copy; Swaff-y developments 2020
    </footer>
    <div class="spacer">

    </div>
  </body>
</html>
