<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
    <div class="grid-container">

      <div class="grid-child logo">
        <%= link_to root_path do%>
        <%= image_tag image_url('logo.png'), class: "logo"%>
        <% end %>
        <nav class="inline">
          <%= link_to root_path, class: "nav-links" do %>
          <span>Home</span>
          <% end %>
          <%= link_to tenants_path, class: "nav-links" do %>
          <span>Renters</span>
          <% end %>
          <%= link_to owners_path, class: "nav-links" do %>
          <span>Owners</span>
          <% end %>
          <%= link_to properties_path, class: "nav-links" do %>
          <span>Properties</span>
          <% end %>
        </nav>
      </div>
      <div class="grid-child nav-bar">
        <% if @current_user.present? %>
          <%= link_to user_path(@current_user.id), class: "login-links" do %>
          <span>Welcome, <%= @current_user.name %> <%= link_to 'Logout', login_path, method: 'delete',class: "login-links" %></span>
          <% end %>
        <% else %>
          <span></span>

          <span class="login-links" onclick="document.getElementById('id01').style.display='block'">Sign In</span>
          <%= link_to new_user_path, class: "login-links" do %>
          <span>Sign Up</span>
          <% end %>
        <% end %>
      </div>
    </div>
    </header>

    <div class="main-container">
    <%= yield %>
    </div>

    <!-- Login form -->
    <div id="id01" class="modal">
      <%= form_with url: login_path, local: true , class: "modal-content animate" do |f| %>
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          <%= image_tag "logo.png", class: "avatar", alt: "logo"%>
        </div>

        <div class="container">
          <%= f.label :email %>
          <%= f.text_field :email, placeholder: "Email", required: "required" %>

          <%= f.label :password %>
          <%= f.password_field :password, placeholder: "Password", required: "required" %>

          <%= f.submit 'Login', class: "login-button" %>

        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      <% end %>
    </div>

    <footer>
      <hr>
      footer
    </footer>
  </body>
</html>
